.sidenav-layout {
    min-height: calc(100vh - 64px);
}

.sidenav-menu-display {
    height: 100%;
    background-color: lightgrey;
    color: pink;
    li {
        margin-bottom: 2em
    }
    a:link {
        text-decoration: none;
        color: deeppink;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }
}

.sidenav-container {
    width:  200px;
}